@media (max-width: 600px){
    .menu li{
        max-width: 50%;
        min-width: 50%;
        text-align: center;
        margin-bottom: 0;
    }

    .menu li a {
        padding: 15px;
    }

    #scramble {
        font-size: 17px;
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        word-wrap: break-word;
    }
    
    #crono {
        font-size: 60px;
    }

    #instruciones {
        display: none;
    }

    .stats-div {
        margin-left: 10%;
        margin-right: 10%;
    }

    #lista_tiempos{
        margin-left: 15%;
        margin-right: 15%;
    }   

    #tiempo_scramble {
        display: none;
    }

    #mostrar_scramble {
        display: block;
    }

    .export_page{
        margin-left: 10%;
        margin-right: 10%;
    }
}